################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HomeAutomation.IdentityService/v16/Server/sqlite3/storage.ide-wal
/.vs/HomeAutomation.IdentityService/v16/Server/sqlite3/storage.ide-shm
