################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HomeAutomation.IdentityService/v16/Server/sqlite3/storage.ide-wal
/.vs/HomeAutomation.IdentityService/v16/Server/sqlite3/storage.ide-shm
/obj/project.nuget.cache
/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
/obj/Debug/netcoreapp2.2/HomeAutomation.IdentityService.genruntimeconfig.cache
